<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Usuario</title>
</head>
<body>
    <h1>Panel de usuario</h1>
    <p>Bienvenido. Este espacio es para usuarios con rol USER.</p>

    <ul>
        <li><a th:href="@{/user/panel}">Inicio usuario</a></li>
    </ul>

    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Cerrar sesion</button>
    </form>
</body>
</html>
